
<script>
	onload = function () {
		mostrarR();
	}
</script>


<h1 class="text-center text-red" id="h1AquecidoR">Aquecendo...</h1>

<div id="divResultadoR" class="">

</div>
<div class="text-center">
	@Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary", disabled = "", id="voltarR" })
</div>
